/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.redText {
color:red;
}

.greenText {
color:green;
}

.blueText {
color:blue;
}

h1 {
margin:0; padding:0 0 .2em 0; 
}

h2 {
margin:0; padding:0 0 .2em 0; 
}

h3 {
margin:0; padding:0 0 .2em 0; 
}

h4 {
margin:0; padding:0 0 .2em 0; 
}

.floatImageLeft {
float:left;   margin:8px 8px 8px 0;
}

.floatImageRight {
float:right;   margin:8px 8px 8px 0;
}


/*
     FILE ARCHIVED ON 06:58:17 Apr 22, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:58:27 Dec 31, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 80.925
  exclusion.robots: 0.102
  exclusion.robots.policy: 0.089
  cdx.remote: 0.078
  esindex: 0.01
  LoadShardBlock: 41.24 (3)
  PetaboxLoader3.datanode: 92.41 (6)
  load_resource: 197.256 (2)
  PetaboxLoader3.resolve: 70.159 (2)
  loaddict: 39.724
*/